ul {
	display: inline;
	list-style-type: none;
	padding: 0;
	background-color: #454545;
	padding: 5px 10px;
}
li {
	display: inline;
}
a {
	text-decoration: none;
	color: silver;
	text-align: center;
	padding: 5px 10px;
}
a:hover {
	background-color: black;
	color: white;
}